[workspace]
members = [
  "hylo-clients",
  "hylo-core", "hylo-idl", "hylo-jupiter",
]
resolver = "2"

[workspace.package]
version = "0.2.0"
edition = "2021"
license = "MPL-2.0"
homepage = "https://hylo.so"

[workspace.dependencies]
anyhow = "1.0.98"
anchor-client = { version = "=0.31.1", features = ["async"] }
anchor-spl = "=0.31.1"
anchor-lang = "=0.31.1"
flaky_test = "0.2.2"
hylo-fix = "0.4.2"
pyth-solana-receiver-sdk = "=1.0.1"
base64 = "0.22.1"
serde_json = "1.0.140"
tokio = "1.36.0"
async-trait = "0.1.88"
futures = "0.3.31"
itertools = "0.14.0"
jupiter-amm-interface = { git = "https://github.com/hylo-so/jupiter-amm-interface", rev = "cf6181f" }
proptest = "1.5.0"
rust_decimal = "1.37.2"
bincode = "1.3.3"
paste = "1.0.15"
borsh = "1.5.7"
solana-transaction-status-client-types = "=2.3.13"
serde = "1.0.225"
mpl-token-metadata = "5.1.1"
solana-address-lookup-table-interface = "=2.2.2"
solana-loader-v3-interface = "5.0.0"
hylo-core = { version = "0.2.0", path = "hylo-core" }
hylo-idl = { version = "0.2.0", path = "hylo-idl" }
hylo-clients = { version = "0.2.0", path = "hylo-clients" }
hylo-jupiter = { version = "0.2.0", path = "hylo-jupiter" }
